*{
    margin:0;
    padding: 0;
    border:0;
    list-style: none;
}
body {
    font-family:sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: #fff;
}
.sec_tit {
    font-size:4em;
    text-shadow: 2px 2px 0 #9BDED2;
}
/*清除浮动*/
.clearfix::before,.clearfix::after {
    content: ".";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}


/*第一屏*/
.section1 {
    overflow: hidden;
}
.logo {
    width: 200px;
    height: 200px;
    background:  url(../images/zhuyli.jpg) no-repeat left -32px;
    background-size: cover;
    margin:50px auto 30px;
    border:5px solid #ADE0D7;
    border-radius:50%;
    overflow: hidden;
    transition:transform 0.2s ease-out;
}
.logo:hover {
    transform:scale(1.05);
}
.wenzi {
    text-align: center;
    color:#fff;
    position: relative;
}
    /*第一屏动画*/
.wenzi span {
    font-size:3.5em;
    margin:0 30px;
    text-shadow:1px 1px 0 #9BDED2;
}
.current.section1 span {
    margin:0;
    opacity:1;
    transition:all 1s ease-out 0.2s;
}
.wenzi p {
    font-size:1.5em;
    margin-top:15px;
}
.section1 img {
    margin:0 30px;
    opacity:0;
}
.current.section1 img {
     margin:0;
     opacity:1;
     transition:all 1s ease-out 0.2s;
 }
.section1 .info {
    height: 49px;
    background: url(../images/info_1.png) center center no-repeat;
    margin-top:80px;
}
.section1 .email {
    font-size:20px;
}

/*第二屏*/
.section2 {
    padding:0 150px;
}
.section2 > div {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.section2 .shield {
    width: 428px;
    height: 498px;
}
.section2 img {
    display:block;
    float: left;
}
.section2 img {
    transform:translate(200px,100px) rotate(50deg);
}
.current.section2 img {
    transform:translate(0,0) rotate(0deg);
    transition:all 1s ease-in-out;
}
.section2 .info{
    width: 635px;
    height: 309px;
}
.section2 .info h2 {
    margin-bottom: 30px;
}
.section2 .info h2,.section2 .info div {
    text-align: center;
    overflow: hidden;
    margin-top: 8px;
}
.section2 .info span{
    background-color: #096254;
    color: #aee2d9;
    border-radius: 3px;
    padding: 2px 8px;
    margin-right: 3px;
    margin-bottom: 3px;
    font-size:20px;
}

/*第三屏*/
.section3 {
    padding: 0 130px;
    position: relative;
    overflow: hidden;
}
.section3 > div {
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.section3 .info {
    width: 100%;
}
.sec_tit {
    text-align: center;
    margin-bottom: 20px;
}
.project a {
    color:#fff;
    cursor: pointer;
}
.project .row {
    margin-top:15px;
}
.por_list1 {
    float: left;
    width: 44%;
}
.por_list1 i {
    float: left;
    width: 100px;
    height: 100px;
    border-radius:40px 40px;
    background: #008A75 url(../images/zhujianer.png) no-repeat center;
    margin-right:10px;
}
.por_list2 i {
    background: #008A75 url(../images/biangua.png) no-repeat center;
}
.por_list3 i {
    background: #008A75 url(../images/book.png) no-repeat center;
}
.por_list4 i {
    background: #008A75 url(../images/jwebaudio.png) no-repeat center;
}
.por_list5 i {
    background: #008A75 url(../images/chrome.png) no-repeat center;
}
.por_list6 i {
    background: #008A75 url(../images/jcorner.png) no-repeat center;
}
.por_list7 i {
    background: #008A75 url(../images/house.png) no-repeat center;
    background-size: 84px 84px;
}
.por_list8 i {
    background: #008A75 url(../images/round.png) no-repeat center;
    background-size: 64px 64px;

}
.por_list1 .por_cen {
    line-height: 30px;
    padding-top: 22px;
}
.por_cen h3 {
    font-size: 22px;
    transition:font-size 0.5s ease;
}
.por_list2,.por_list4,.por_list6,.por_list8 {
    margin-left:10%;
}
.project a:hover h3 {
    font-size:24px;
}
.project a:hover i {
   background-color:#11b99f ;
}

/*第四屏*/
.section4 {
    padding:0 100px;
    overflow: hidden;
}
.section4 > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section4 .new {
    width: 530px;
    height: 320px;
    position: relative;
}
.new .top {
    width: 529px;
    height: 66px;
    background: url(../images/search.png);
    transform:translate(-650px,0);
    transition:all 1s;
}
.new .wenzi {
    width: 0;
    height: 22px;
    background: url(../images/key.png) left center no-repeat;
    position: absolute;
    top: 23px;
    left: 20px;
}
.section4.current .wenzi {
    animation:wenzi 1.5s steps(5) 1.3s forwards;
}
@keyframes wenzi {
    from{

    }
    to {
      width:100px;
    }
}

.new .wrap {
    width: 530px;
    height: 340px;
    position: absolute;
    top:53px;
    overflow: hidden;
}
.wrap .bottom {
    width: 100%;
    height: 100%;
    background: url(../images/result.png) no-repeat;
    transform:translate(0,-660px);
    transition:all 1s 2.8s;

}
.section4.current .top {
    transform:translateX(0);
}
.section4.current .bottom {
    transform:translate(0,0);
}

.section4 .info {
    width: 612px;
    height: 299px;
}
.info .section_box {
    width:540px;
    padding-left:80px;
}
.info .section_box p {
    line-height: 30px;
}

/*第五屏*/
.section5 {
    overflow: hidden;
}
.section5>div {
    display: flex;
    flex-direction:column;
}
.section5 .info {
    height: 135px;
    margin:30px 0;
}
.section5 .borswer {
    width: 900px;
    flex:1;
    background: rgba(255,255,255,0.15);
    margin:0 auto;
    position: relative;
    overflow: hidden;
}

.borswer .leftline {
    width: 1px;
    height: 100%;
    background:  rgba(255,255,255,0.5);
    position: absolute;
    left:0;
    top:0;
    transform:translateY(-700px);
    transition:all 1s;
}
.section.current .leftline {
    transform:translate(0);
}
.borswer .topline {
    width: 100%;
    height: 1px;
    background:  rgba(255,255,255,0.5);
    position: absolute;
    left:0;
    top:0;
    transform:translateX(1200px);
    transition:all 1s 0.8s;
}
.section.current .topline {
    transform:translate(0);
}

.borswer .rightline {
    width: 1px;
    height: 100%;
    background:  rgba(255,255,255,0.5);
    position: absolute;
    right:0;
    top:0;
    transform:translateY(700px);
    transition:all 1s 1s;
}

.section.current .rightline {
    transform:translate(0);
}

.borswer .bottomline {
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.5);
    position: absolute;
    left:0;
    bottom:0;
}
.sec5_cen {
    text-align: center;
    font-size:22px;
    margin-top:50px;
    line-height: 50px;
}
.sec5_cen h3 {
    font-size:2em;
    margin-bottom: 40px;
}
.sec5_cen .p1 {
    font-weight: bold;
}
.sec5_cen .p2 {
    font-weight: bold;
    color: #99FF33;
}




