@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button { 			/*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;				/*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止多行文本框拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;			/*合并外边线*/
}


body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";	/*宋体，Unicode，统一码*/
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none;
}

/*shortcut-nav部分start*/
.shortcut-nav {
    height: 44px;
    border-bottom: 2px solid #B1191A;
}
.shortcut-nav-dropdown {
    height: 44px;
    width: 210px;
    float: left;
    background-color: #B1191A;
    position: relative;
    z-index: 10;
}
.shortcut-nav-dropdown div{
    overflow: inherit;
}
.shortcut-nav-dropdown-all a {
    display: block;
    padding: 0 10px;
    font: 400 15px/44px "microsoft yahei";
    color: #fff;
}
.shortcut-nav-dropdown-one {
    height: 467px;
    background-color: #C81623;
    margin-top: 2px;
    border-left: 1px solid #B1191A;
}
.dropdown-item {
    height: 31px;
    color: #fff;
}
.dropdown-item h3 {
    padding: 0 10px;
    font: 400 14px/31px "microsoft yahei";
    float: left;
}
.dropdown-item h3 a {
    color: #fff;
}
.dropdown-item h3 a:hover {
    color: #fff;
}
.dropdown-item i {
    margin-right: 10px;
    font: 400 9px/31px consolas;
    float: right;
}


.shortcut-nav-items {
    height: 44px;
    width: 755px;
    float: left;
}
.shortcut-nav-items li {
    float: left;
}
.shortcut-nav-items .jd-li-five {
    position: relative;
}
.shortcut-nav-items li a {
    display: block;
    font: 400 15px/44px "microsoft yahei";
    padding: 0 20px;
}
.jd-five {
    position: absolute;
    top: 0;
    right: -8px;
}
.shortcut-nav-computer {
    height: 40px;
    width: 140px;
    float: right;
    margin-top: 2px;
    background: url(../images/computer.jpg) no-repeat;
}
.shortcut-nav-computer a {
    display: block;
    height: 40px;
    width: 140px;
}
/*shortcut-nav部分end*/

/*main部分start*/
.main {
    position: relative;
}
.main-slider {
    margin: 12px 0 0 220px;
    float: left;
    width: 730px;
    height: 454px;
    position: relative;
}
.main-slider-circle {
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -66px;
}
.main-slider-circle li {
    float: left;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background-color: #3e3e3e;
    color: #fff;
    border-radius: 9px;
    margin: 0 2px;
    cursor: pointer;
}
.main-slider-circle .main-current {
    background-color: #B61B1F;
}
.main-arrow-l, .main-arrow-r {
    position: absolute;
    top: 50%;
    margin-top: -31px;
    width: 28px;
    height: 62px;
    background: rgba(0,0,0,.3);
    text-align: center;
    font: 400 22px/62px "simsun";
    color: #FFF;
}
.main-arrow a:hover {
    color: #fff;
    background: rgba(0,0,0,0.6);
}
.main-arrow-l {
    left: 0;
}
.main-arrow-r {
    right: 0;

}
.main-news {
    width: 248px;
    height: 453px;
    float: right;
    border: 1px solid #E4E4E4;
    margin-top: 12px;
    margin-right: 1px;
    overflow: hidden;
}
.main-news-fasternews {
    height: 200px;
    border-bottom: 1px dashed #E4E4E4;       /*虚线*/
}
.jd-fasternews,
.jd-lifeservice {
    height: 43px;
    line-height: 43px;
    border-bottom: 1px dotted #E4E4E4;       /*点线*/
    padding: 0 15px;
}
.jd-fasternews h1 ,
.jd-lifeservice h1 {
    float: left;
    font: 400 16px/43px "微软雅黑";
}
.jd-fasternews a {
    float: right;
    font-family: consolas;
}
.jd-fasternews-content {
    padding: 8px 0 0 15px;
    line-height: 27px;
}
.jd-fasternews-content span {
    font-weight: bold;
    margin-right: 5px;
}
.lifeservice-content ul {
    width: 255px;
}
.lifeservice-content li {
    float: left;
    width: 62px;
    height: 70px;
    border: 1px solid #E8E8E7;
    border-top: 0 none;
    margin-left: -1px;
    margin-top: -1px;
}
.lifeservice-content a {
    display: block;
    width: 62px;
    height: 20px;
    padding-top: 50px;
    text-align: center;
    position: relative;
}
.lifeservice-content i {
    position: absolute;
    top: 16px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url(../images/fly.png) no-repeat;
}
.lifeservice-content .fly-icon2 i {
     background-position: 0 -25px;
 }
.lifeservice-content .fly-icon3 i {
    background-position: 0 -50px;
}
.lifeservice-content .fly-icon4 i {
    background-position: 0 -75px;
}
.lifeservice-content .fly-icon5 i {
    background-position: 0 -100px;
}
.lifeservice-content .fly-icon6 i {
    background-position: 0 -125px;
}
.lifeservice-content .fly-icon7 i {
    background-position: 0 -150px;
}
.lifeservice-content .fly-icon8 i {
    background-position: 0 -175px;
}
.lifeservice-content .fly-icon9 i {
    background-position: 0 -200px;
}
.lifeservice-content .fly-icon10 i {
    background-position: 0 -225px;
}
.lifeservice-content .fly-icon11 i {
    background-position: 0 -250px;
}
.lifeservice-content .fly-icon12 i {
    background-position: 0 -275px;
}
.lifeservice-content .fly-send {
    background: url(../images/send.png) no-repeat right top;
}
/*main部分end*/

/*today部分start*/
.today {
    width: 1210px;
    margin: 10px auto 20px;
    position: relative;
}
.today-l {
    width: 210px;
    height: 151px;
    background: url(../images/today.png) no-repeat right bottom;
    float: left;
}
.today-l a {
    display: block;
    width: 210px;
    height: 151px;
}
.today-r {
    width: 1000px;
    height: 160px;
    float: left;
    overflow: hidden;
    position: relative;
}
.today-r ul {
    width: 500%;
}
.today-r li {
    float: left;
    margin-right: 1px;
}
/*today部分end*/

/*banner603部分start*/
.banner603 {
    position: relative;
}
.banner603 a {
    width: 100%;
    height: 603px;
    position: absolute;
    top: 0;
    background: url(../images/banner.jpg) no-repeat top center;
}




/*banner603部分end*/